<!DOCTYPE html>
<html lang="en">

<head>
    <title>Financial Advisor</title>
    <link rel="icon" href="{{ url_for('static',filename='img/1icon.png')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='font-awesome/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/Style.css')}}">
</head>

<header id="header" class="header header-hide ">
    <div class="container">
        <div id="logo" class="pull-left">
            <h1><a href="#body" class="scrollto"><span>Financial</span>Advisor</a></h1>
        </div>
        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li><a href="{{ url_for('main') }}">Home</a></li>
                <li class="menu-active"><a role="presentation" href="{{ url_for('login_page') }}">Login</a></li>
                <li><a role="presentation" href="{{ url_for('register_page') }}">Register</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>
    <div class="login">

        <div class="container">
            <div class="loginalert">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}

                <div {% if category == 'success' %} class="alert alert-success alert-dismissible" {% elif category == 'warning' %} class="alert alert-warning alert-dismissible" {% elif category == 'danger' %} class="alert alert-danger alert-dismissible" {% else %} class="alert alert-info alert-dismissible" {% endif %} role="alert"><span class="glyphicon glyphicon-asterisk"></span>
                    <button type="button" style="margin-top: 8px;" class="close" data-dismiss="alert" aria-label="Close" aria-hidden="true">&times;</button>{{message}}</div>
                {% endfor %}
                {% endif %}
                {%endwith%}
            </div>
            <div class="form-container sign-in-container">
                <form method=post action="/login/">
                    <!--name of signin page-->
                    <h1>Sign in</h1>
                    <!--<div class="social-container">
                        <a href="#" class="social"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="social"><i class="fa fa-gmail"></i></a>
                        <a href="#" class="social"><i class="fa fa-linkedin"></i></a>
                    </div>-->
                    <input id="username" placeholder="Username" name="username" required type="text" value="" min="4" max="20" data-toggle="tooltip" title="Enter Your Username" autofocus>
                    <input id="password" placeholder="Password" name="password" required type="password" data-toggle="tooltip" title="Enter Your Password" value="">
                    <a href="{{url_for('forget_password')}}">Forgot your password?</a>
                    <button type=submit value=Login>Sign In</button>
                </form>
            </div>
            <div class="overlay-container-log" id="log">
                <div class="overlay-panel">
                    <h1>Welcome Back!</h1>
                    <p> To keep connected with us please login with your personal info
                    </p>
                    <button class="ghost" id="signUp" onclick="location.href='{{ url_for('register_page') }}'">Sign Up</button>
                </div>
            </div>
        </div>

    </div>
    <div class="cpy-right py-3">
        <div class="container">
            <div class="row">
                <p class="col-md-10 text-left">© 2019 Financial Advisor. All rights reserved | Design by Chaitali.</p>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/main.js')}}"></script>

</body>

</html>
